.profile {
	grid-area: profile;
	grid-column: 3/13;
	grid-row: 2/13;
	color: rgb(255, 255, 255);
	font-size: 16px;
}

.cover > img {
	width: 100%;
	height: 237px;
	width: 100%;
}

.profileHeader {
	position: relative;
	margin-top: -15px;
	border-radius: 10px;
	background-color: #222222;
	display: flex;
}

.profileHeader_ava {
	position: relative;
	margin-left: 1em;
	margin-top: -3em;
}
.profileHeader_wrapper {
	display: flex;

	width: 100%;
	min-width: 0;
}

.profileHeader_main {
	display: flex;
	width: 100%;
	min-width: 0;
	margin-left: 16px;
	margin-bottom: 4px;
}
.profileHeader_actions {
	margin-left: auto;
}
.profile_profileHeaderActions_in {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.profileHeaderActions {
	margin-left: 24px;
}
.profileHeaderActions_in {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.profileHeaderActions_buttons {
	display: flex;
	margin-bottom: 6px;
}
.profileHeaderActions_moreButtonContainer {
	position: relative;
	margin-left: 6px;
	cursor: pointer;
	z-index: 1;
}
.profileInfo {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	text-align: start;
}
.profileInfo_status {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
	word-break: break-word;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	text-overflow: ellipsis;
	margin: 6px auto 0 0;
}
.profileInfo_fullInfo {
	margin-top: 6px;
	max-width: calc(100% + var(--padding-left-right));
	margin-left: calc(var(--padding-left-right) * -1);
	display: flex;
	--padding-left-right: 5px;
}
.profileHeader_ava > img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.ownerNameIcon__module_icon > img {
	width: 20px;
	height: 20px;
}
