.sideBar {
	grid-area: s;
	background-color: #141414;
}

.item > a {
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 30px;
	box-sizing: border-box;
	width: 164px;
	padding: 0 6px;
	border-radius: 4px;
	cursor: pointer;
	color: white;
}
.item > :hover {
	background-color: #262626 !important;
}
