.app_wrapper {
	margin: 0 auto;
	display: grid;
	max-width: 1200px;
	grid-template-areas:
		'h h'
		's c';

	grid-template-columns: 2fr 10fr;
	grid-template-rows: 60px, 1fr;
}
.app_wrapper_content {
	grid-area: c;
}
