body {
	margin: 0;
	padding: 0;
}

.app-wrapper {
	margin: 0 auto;
	grid-template-areas:
		'header header '
		'menu main ';
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	/* grid-gap: 10px; */
	width: 1200px;
}
