:root {
	--flat-checkbox-line-height: 1.27em;
	--flat-checkbox-disabled-opacity: 0.6;
	--flat-checkbox-margin: 0 7px 0 0;
	--flat-checkbox-size: 16px;
}
:root {
	--header-height: 48px;
	--left-menu-row-height: 30px;
	--left-menu-icon-size: 20px;
}
:root {
	--azure_a100: #0077ff;
	--azure_300: #397dcc;
	--azure_a400: #2a6fbd;
	--azure_a500: #2363aa;
	--black: #000000;
	--black_alpha4: rgba(0, 0, 0, 0.04);
	--black_alpha8: rgba(0, 0, 0, 0.08);
	--black_alpha12: rgba(0, 0, 0, 0.12);
	--black_alpha16: rgba(0, 0, 0, 0.16);
	--black_alpha24: rgba(0, 0, 0, 0.24);
	--black_alpha36: rgba(0, 0, 0, 0.36);
	--black_alpha40: rgba(0, 0, 0, 0.4);
	--black_alpha48: rgba(0, 0, 0, 0.48);
	--black_alpha56: rgba(0, 0, 0, 0.56);
	--black_alpha72: rgba(0, 0, 0, 0.72);
	--black_alpha88: rgba(0, 0, 0, 0.88);
	--black_blue10: #000c1a;
	--black_blue24: #001c3d;
	--black_blue24_alpha8: rgba(0, 28, 61, 0.08);
	--black_blue24_alpha24: rgba(0, 28, 61, 0.24);
	--black_blue30_alpha66: rgba(0, 36, 77, 0.66);
	--black_blue45_alpha10: rgba(0, 57, 115, 0.1);
	--blue_400: #5181b8;
	--blue_a400: #447bba;
	--blue_400_alpha20: rgba(81, 129, 184, 0.2);
	--blue_400_alpha48: rgba(81, 129, 184, 0.49);
	--blue_420: #4a76a8;
	--blue_550: #346297;
	--blue_600: #2a5885;
	--blue_640: #224b7a;
	--blue_800: #1d3a5c;
	--blue_980_alpha12: rgba(0, 20, 51, 0.12);
	--blue_bright: #5c9ce6;
	--brown_gold: #9e8f72;
	--brown_light: #c2b79f;
	--gold_200: #f4e7c3;
	--gold_250: #e3d3ac;
	--gold_300: #d1c097;
	--gold_400: #ab9871;
	--gold_500: #857250;
	--gray_20: #f9f9f9;
	--gray_40: #f5f5f5;
	--gray_70: #555555;
	--gray_100: #e1e3e6;
	--gray_100_alpha60: rgba(225, 227, 230, 0.6);
	--gray_200: #cccccc;
	--gray_300: #b2b2b2;
	--gray_400: #939393;
	--gray_500: #828282;
	--gray_600: #656565;
	--gray_700: #555555;
	--gray_700_alpha60: rgba(85, 85, 85, 0.6);
	--gray_750: #424242;
	--gray_800: #333333;
	--gray_800_alpha72: rgba(51, 51, 51, 0.72);
	--gray_800_alpha88: rgba(51, 51, 51, 0.88);
	--gray_850: #292929;
	--gray_900: #222222;
	--gray_900_alpha16: rgba(34, 34, 34, 0.16);
	--gray_900_alpha72: rgba(34, 34, 34, 0.72);
	--gray_900_alpha88: rgba(34, 34, 34, 0.88);
	--gray_940: #141414;
	--gray_960: #0a0a0a;
	--green_alpha16: rgba(75, 179, 75, 0.16);
	--green_350: #4bb34b;
	--green_400: #43a843;
	--green_600: #1b7a1b;
	--green_light: #def0d3;
	--green_nice: #3dcc4b;
	--light_blue_40: #e5ebf1;
	--light_blue_40_alpha72: rgba(229, 235, 241, 0.72);
	--light_blue_80: #dfe6ed;
	--light_blue_100: #dae2ea;
	--light_blue_300: #9eb4c8;
	--light_blue_400: #7996b2;
	--light_blue_500: #577ca1;
	--light_blue_700: #45688e;
	--light_blue_A300: #8fadc8;
	--neon_pink: #f45fff;
	--orange: #ffa000;
	--orange_tint: #f9b54f;
	--orange_light: #ffc062;
	--orange_fire: #f05c44;
	--orange_prominent: #ff724c;
	--raspberry_pink: #e03fab;
	--raspberry_pink_light: #f060c0;
	--purple: #735ce6;
	--purple_light: #937ff5;
	--pink: #e6457a;
	--pink_light: #faebeb;
	--red: #e64646;
	--red_alpha16: rgba(230, 70, 70, 0.16);
	--red_alpha12: rgba(230, 70, 70, 0.12);
	--red_dark: #db3b3b;
	--red_light: #ff5c5c;
	--red_nice: #ff3347;
	--sky_60: #cce9ff;
	--sky_80: #b2deff;
	--sky_100: #99d3ff;
	--sky_200: #70c1ff;
	--sky_300: #71aaeb;
	--steel_gray_10: #fafbfc;
	--steel_gray_20: #f7f8fa;
	--steel_gray_40: #f0f2f5;
	--steel_gray_50: #eeeff1;
	--steel_gray_60: #edeef0;
	--steel_gray_80: #e7e8ec;
	--steel_gray_100: #dce1e6;
	--steel_gray_120: #d3d9de;
	--steel_gray_140: #c5d0db;
	--steel_gray_200: #aeb7c2;
	--steel_gray_200_alpha12: rgba(174, 183, 194, 0.12);
	--steel_gray_200_alpha16: rgba(174, 183, 194, 0.16);
	--steel_gray_300: #99a2ad;
	--steel_gray_400: #818c99;
	--steel_gray_500: #6f7985;
	--steel_gray_540: #626d7a;
	--steel_gray_600: #4e5966;
	--steel_gray_A540: #55677d;
	--steel_gray_A540_alpha64: rgba(85, 103, 125, 0.64);
	--transparent_black: rgba(0, 0, 0, 0);
	--transparent_white: rgba(255, 255, 255, 0);
	--turquoise: #63b9ba;
	--violet: #792ec0;
	--violet_dark: #1f1b2c;
	--violet_light: #a393f5;
	--violet_muted: #4b4d61;
	--white: #ffffff;
	--white_alpha72: rgba(255, 255, 255, 0.72);
	--white_alpha64: rgba(255, 255, 255, 0.64);
	--white_alpha48: rgba(255, 255, 255, 0.48);
	--white_alpha40: rgba(255, 255, 255, 0.4);
	--white_alpha24: rgba(255, 255, 255, 0.24);
	--white_alpha16: rgba(255, 255, 255, 0.16);
	--white_alpha12: rgba(255, 255, 255, 0.12);
	--white_alpha8: rgba(255, 255, 255, 0.08);
	--white_alpha4: rgba(255, 255, 255, 0.04);
	--white_blue20: #cce4ff;
	--white_blue32: #add3ff;
	--yellow: #ffc107;
	--yellow_light: #faefd2;
	--yellow_alpha16: rgba(255, 202, 99, 0.16);
	--yellow_overlight: #fff2d6;
	--lavender_100: #e6e9ff;
	--lavender_200: #ccd3ff;
	--lavender_300: #adb8ff;
	--lavender_700: #5965b3;
	--lavender_800: #404980;
	--lavender_900: #262b4d;
}
:root {
	--accent: var(--blue_a400);
	--background_content: var(--white);
	--button_primary_background: var(--blue_a400);
	--button_primary_foreground: var(--white);
	--button_secondary_background: var(--light_blue_40);
	--button_secondary_foreground: var(--blue_550);
	--button_tertiary_background: var(--transparent_black);
	--button_tertiary_foreground: var(--blue_550);
	--destructive: var(--red);
	--im_forward_line_tint: var(--blue_980_alpha12);
	--input_border: var(--steel_gray_120);
	--landing_secondary_button_background: var(--black_blue45_alpha10);
	--loader_track_fill: var(--steel_gray_120);
	--loader_track_value_fill: var(--blue_a400);
	--separator_common: var(--steel_gray_100);
	--stories_skeleton_loader_background: var(--gray_200);
	--text_link: var(--blue_600);
	--text_name: var(--blue_600);
	--text_placeholder: var(--steel_gray_400);
	--text_primary: var(--black);
	--text_secondary: var(--steel_gray_400);
	--text_subhead: var(--steel_gray_540);
	--text_tertiary: var(--steel_gray_300);
	--icon_name: var(--light_blue_A300);
	--dynamic_blue: var(--blue_400);
	--dynamic_gray: var(--steel_gray_200);
	--dynamic_red: var(--red_nice);
	--dynamic_green: var(--green_600);
	--dynamic_orange: var(--orange);
	--dynamic_purple: var(--purple);
	--dynamic_violet: var(--violet);
	--dynamic_raspberry_pink: var(--raspberry_pink);
	--content_positive_background: var(--green_light);
	--content_negative_background: var(--pink_light);
}
:root {
	--vkui--theme_name: 'vkontakteCom';
	--vkui--theme_name_base: 'vkontakteCom';
	--vkui--gradient_black: rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.014) 13%,
		rgba(0, 0, 0, 0.06) 27%, rgba(0, 0, 0, 0.316) 68%, rgba(0, 0, 0, 0.38) 84%,
		rgba(0, 0, 0, 0.4) 100%;
	--vkui--gradient_white: rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.036) 13%, rgba(255, 255, 255, 0.15) 27%,
		rgba(255, 255, 255, 0.79) 68%, rgba(255, 255, 255, 0.95) 84%,
		rgba(255, 255, 255, 1) 100%;
	--vkui--gradient_tint: rgba(249, 249, 249, 0) 0%,
		rgba(249, 249, 249, 0.036) 13%, rgba(249, 249, 249, 0.15) 27%,
		rgba(249, 249, 249, 0.79) 68%, rgba(249, 249, 249, 0.95) 84%,
		rgba(249, 249, 249, 1) 100%;
	--vkui--gradient: rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.036) 13%,
		rgba(255, 255, 255, 0.15) 27%, rgba(255, 255, 255, 0.79) 68%,
		rgba(255, 255, 255, 0.95) 84%, rgba(255, 255, 255, 1) 100%;
	--vkui--elevation1: 0px 0px 2px rgba(0, 0, 0, 0.03),
		0px 2px 2px rgba(0, 0, 0, 0.06);
	--vkui--elevation1_invert_y: 0px 0px 2px rgba(0, 0, 0, 0.03),
		0px -2px 2px rgba(0, 0, 0, 0.06);
	--vkui--elevation2: 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 4px rgba(0, 0, 0, 0.06);
	--vkui--elevation3: 0px 0px 2px rgba(0, 0, 0, 0.08),
		0px 4px 16px rgba(0, 0, 0, 0.08);
	--vkui--elevation4: 0px 0px 8px rgba(0, 0, 0, 0.12),
		0px 16px 16px rgba(0, 0, 0, 0.16);
	--vkui--font_family_fallbacks: -apple-system, system-ui, 'Helvetica Neue',
		Roboto, sans-serif;
	--vkui--font_family_accent: 'VK Sans Display', -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_family_base: -apple-system, system-ui, 'Helvetica Neue', Roboto,
		sans-serif;
	--vkui--font_weight_accent1: 600;
	--vkui--font_weight_accent2: 500;
	--vkui--font_weight_accent3: 400;
	--vkui--font_weight_base1: 600;
	--vkui--font_weight_base2: 500;
	--vkui--font_weight_base3: 400;
	--vkui--font_display_title1--font_size--regular: 23px;
	--vkui--font_display_title1--line_height--regular: 28px;
	--vkui--font_display_title1--font_family--regular: 'VK Sans Display',
		-apple-system, system-ui, 'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_display_title1--font_weight--regular: 600;
	--vkui--font_display_title2--font_size--regular: 21px;
	--vkui--font_display_title2--line_height--regular: 26px;
	--vkui--font_display_title2--font_family--regular: 'VK Sans Display',
		-apple-system, system-ui, 'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_display_title2--font_weight--regular: 600;
	--vkui--font_display_title2--font_size--compact: 22px;
	--vkui--font_display_title2--line_height--compact: 24px;
	--vkui--font_display_title2--font_family--compact: 'VK Sans Display',
		-apple-system, system-ui, 'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_display_title2--font_weight--compact: 600;
	--vkui--font_display_title3--font_size--regular: 19px;
	--vkui--font_display_title3--line_height--regular: 24px;
	--vkui--font_display_title3--font_family--regular: 'VK Sans Display',
		-apple-system, system-ui, 'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_display_title3--font_weight--regular: 600;
	--vkui--font_display_title4--font_size--regular: 17px;
	--vkui--font_display_title4--line_height--regular: 24px;
	--vkui--font_display_title4--font_family--regular: 'VK Sans Display',
		-apple-system, system-ui, 'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_display_title4--font_weight--regular: 600;
	--vkui--font_title1--font_size--regular: 24px;
	--vkui--font_title1--line_height--regular: 28px;
	--vkui--font_title1--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_title1--font_weight--regular: 600;
	--vkui--font_title2--font_size--regular: 20px;
	--vkui--font_title2--line_height--regular: 24px;
	--vkui--font_title2--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_title2--font_weight--regular: 600;
	--vkui--font_title3--font_size--regular: 17px;
	--vkui--font_title3--line_height--regular: 22px;
	--vkui--font_title3--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_title3--font_weight--regular: 600;
	--vkui--font_headline1--font_size--regular: 16px;
	--vkui--font_headline1--line_height--regular: 20px;
	--vkui--font_headline1--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_headline1--font_weight--regular: 500;
	--vkui--font_headline1--font_size--compact: 14px;
	--vkui--font_headline1--line_height--compact: 18px;
	--vkui--font_headline2--font_size--regular: 15px;
	--vkui--font_headline2--line_height--regular: 20px;
	--vkui--font_headline2--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_headline2--font_weight--regular: 500;
	--vkui--font_headline2--font_size--compact: 14px;
	--vkui--font_headline2--line_height--compact: 20px;
	--vkui--font_text--font_size--regular: 16px;
	--vkui--font_text--line_height--regular: 20px;
	--vkui--font_text--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_text--font_weight--regular: 400;
	--vkui--font_text--font_size--compact: 13px;
	--vkui--font_text--line_height--compact: 16px;
	--vkui--font_paragraph--font_size--regular: 15px;
	--vkui--font_paragraph--line_height--regular: 20px;
	--vkui--font_paragraph--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_paragraph--font_weight--regular: 400;
	--vkui--font_subhead--font_size--regular: 14px;
	--vkui--font_subhead--line_height--regular: 18px;
	--vkui--font_subhead--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_subhead--font_weight--regular: 400;
	--vkui--font_subhead--font_size--compact: 14px;
	--vkui--font_subhead--line_height--compact: 18px;
	--vkui--font_footnote--font_size--regular: 13px;
	--vkui--font_footnote--line_height--regular: 16px;
	--vkui--font_footnote--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_footnote--font_weight--regular: 400;
	--vkui--font_footnote_caps--font_size--regular: 13px;
	--vkui--font_footnote_caps--line_height--regular: 16px;
	--vkui--font_footnote_caps--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_footnote_caps--font_weight--regular: 400;
	--vkui--font_footnote_caps--text_transform--regular: uppercase;
	--vkui--font_caption1--font_size--regular: 12px;
	--vkui--font_caption1--line_height--regular: 14px;
	--vkui--font_caption1--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_caption1--font_weight--regular: 400;
	--vkui--font_caption1_caps--font_size--regular: 12px;
	--vkui--font_caption1_caps--line_height--regular: 14px;
	--vkui--font_caption1_caps--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_caption1_caps--font_weight--regular: 600;
	--vkui--font_caption1_caps--text_transform--regular: uppercase;
	--vkui--font_caption2--font_size--regular: 11px;
	--vkui--font_caption2--line_height--regular: 14px;
	--vkui--font_caption2--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_caption2--font_weight--regular: 400;
	--vkui--font_caption2_caps--font_size--regular: 11px;
	--vkui--font_caption2_caps--line_height--regular: 14px;
	--vkui--font_caption2_caps--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_caption2_caps--font_weight--regular: 600;
	--vkui--font_caption2_caps--text_transform--regular: uppercase;
	--vkui--font_caption3--font_size--regular: 9px;
	--vkui--font_caption3--line_height--regular: 12px;
	--vkui--font_caption3--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_caption3--font_weight--regular: 400;
	--vkui--font_caption3_caps--font_size--regular: 9px;
	--vkui--font_caption3_caps--line_height--regular: 12px;
	--vkui--font_caption3_caps--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_caption3_caps--font_weight--regular: 600;
	--vkui--font_caption3_caps--text_transform--regular: uppercase;
	--vkui--size_select_icon_padding--regular: 6px;
	--vkui--size_select_icon_padding--compact: 7px;
	--vkui--size_popup_base_padding--regular: 32px;
	--vkui--size_popup_base_padding--compact: 20px;
	--vkui--size_popup_header_padding--regular: 24px;
	--vkui--size_popup_header_padding--compact: 16px;
	--vkui--size_label_horizontal_margin--regular: 16px;
	--vkui--size_border_radius--regular: 8px;
	--vkui--size_border_radius_rounded--regular: 48px;
	--vkui--size_check_border_radius--regular: 4px;
	--vkui--size_border_radius_paper--regular: 12px;
	--vkui--size_border_radius_promo--regular: 20px;
	--vkui--size_field_height--regular: 44px;
	--vkui--size_field_height--compact: 36px;
	--vkui--size_search_height--regular: 36px;
	--vkui--size_search_height--compact: 32px;
	--vkui--size_button_large_height--regular: 44px;
	--vkui--size_button_large_height--compact: 36px;
	--vkui--size_button_medium_height--regular: 36px;
	--vkui--size_button_medium_height--compact: 32px;
	--vkui--size_button_small_height--regular: 30px;
	--vkui--size_button_small_height--compact: 28px;
	--vkui--size_checkbox--regular: 16px;
	--vkui--size_arrow--regular: 8px;
	--vkui--size_arrow_promo--regular: 40px;
	--vkui--size_popup_small--regular: 448px;
	--vkui--size_popup_medium--regular: 680px;
	--vkui--size_popup_large--regular: 880px;
	--vkui--size_field_horizontal_padding--regular: 12px;
	--vkui--size_button_padding_horizontal--regular: 12px;
	--vkui--size_arrow_padding--regular: 12px;
	--vkui--size_tooltip_margin--regular: 8px;
	--vkui--size_icon_u_i--regular: 16px;
	--vkui--size_avatar_x_s--regular: 24px;
	--vkui--size_avatar_s--regular: 32px;
	--vkui--size_avatar_m--regular: 48px;
	--vkui--size_avatar_l--regular: 96px;
	--vkui--size_avatar_x_l--regular: 128px;
	--vkui--size_badge_x_s--regular: 12px;
	--vkui--size_badge_s--regular: 16px;
	--vkui--size_badge_m--regular: 24px;
	--vkui--size_badge_l--regular: 44px;
	--vkui--size_badge_x_l--regular: 56px;
	--vkui--size_cardgrid_padding--regular: 8px;
	--vkui--size_card_border_radius--regular: 8px;
	--vkui--size_cardgrid_padding_vertical--regular: 8px;
	--vkui--size_base_padding_horizontal--regular: 12px;
	--vkui--size_base_padding_vertical--regular: 12px;
	--vkui--size_button_group_gap_space--regular: 1px;
	--vkui--size_button_group_gap_small--regular: 8px;
	--vkui--size_button_group_gap_medium--regular: 12px;
	--vkui--size_option_hierarchy--regular: 32px;
	--vkui--size_switch_height--regular: 10px;
	--vkui--size_switch_height--compact: 10px;
	--vkui--size_switch_width--regular: 27px;
	--vkui--size_switch_width--compact: 27px;
	--vkui--size_switch_pin--regular: 16px;
	--vkui--size_switch_pin--compact: 16px;
	--vkui--size_panel_header_height--compact: 48px;
	--vkui--size_panel_header_height--regular: 48px;
	--vkui--size_button_base_small_padding_horizontal--regular: 16px;
	--vkui--size_button_base_medium_padding_horizontal--regular: 16px;
	--vkui--size_button_base_large_padding_horizontal--regular: 20px;
	--vkui--size_button_base_small_padding_horizontal_icon--regular: 12px;
	--vkui--size_button_base_medium_padding_horizontal_icon--regular: 12px;
	--vkui--size_button_base_large_padding_horizontal_icon--regular: 16px;
	--vkui--size_button_tertiary_small_padding_horizontal--regular: 12px;
	--vkui--size_button_tertiary_medium_padding_horizontal--regular: 12px;
	--vkui--size_button_tertiary_large_padding_horizontal--regular: 16px;
	--vkui--size_button_tertiary_small_padding_horizontal_icon--regular: 8px;
	--vkui--size_button_tertiary_medium_padding_horizontal_icon--regular: 8px;
	--vkui--size_button_tertiary_large_padding_horizontal_icon--regular: 12px;
	--vkui--size_button_minimum_width--regular: 80px;
	--vkui--size_form_item_padding_vertical--regular: 8px;
	--vkui--size_split_col_padding_horizontal--regular: 16px;
	--vkui--size_subnavigation_bar_gap--regular: 8px;
	--vkui--size_subnavigation_bar_padding_vertical--regular: 12px;
	--vkui--size_border1x--regular: 1px;
	--vkui--size_border2x--regular: 0.5px;
	--vkui--size_border3x--regular: 0.33px;
	--vkui--spacing_size_xs: 4px;
	--vkui--spacing_size_s: 6px;
	--vkui--spacing_size_m: 8px;
	--vkui--spacing_size_l: 10px;
	--vkui--spacing_size_xl: 12px;
	--vkui--animation_duration_l: 0.4s;
	--vkui--animation_duration_m: 0.2s;
	--vkui--animation_duration_s: 0.1s;
	--vkui--animation_easing_default: cubic-bezier(0.3, 0.3, 0.5, 1);
	--vkui--animation_easing_platform: cubic-bezier(0.4, 0, 0.2, 1);
	--vkui--opacity_disable: 0.4;
	--vkui--opacity_disable_accessibility: 0.64;
	--vkui--z_index_modal: 99;
	--vkui--z_index_popout: 100;
	--vkui--theme_inherits_from: 'vkCom';
	--vkui--vkontakte_gradient_aquamarine_blue: #7df1fa, #2bb4d6;
	--vkui--vkontakte_gradient_blue: #66ccff, #3f8ae0;
	--vkui--vkontakte_gradient_candy: #ff99cc, #e52e6a;
	--vkui--vkontakte_gradient_crimson: #ff7373, #e53949, #bf1c38;
	--vkui--vkontakte_gradient_disco: #ffb726, #ff2693, #8122e0, #2693ff;
	--vkui--vkontakte_gradient_emerald: #00d948, #0d8046;
	--vkui--vkontakte_gradient_gray: #c1cad6, #878f99;
	--vkui--vkontakte_gradient_green: #6cd97e, #12b312;
	--vkui--vkontakte_gradient_lagoon: #2bd9d9, #5c9ce6;
	--vkui--vkontakte_gradient_lavender: #928fff, #4b47b2;
	--vkui--vkontakte_gradient_marine: #2ee54d, #0d7eff;
	--vkui--vkontakte_gradient_midnight: #73d0ff, #3885e1, #0032a6;
	--vkui--vkontakte_gradient_orange: #ffbf80, #e66b2e;
	--vkui--vkontakte_gradient_pink: #ff8880, #e62e6b;
	--vkui--vkontakte_gradient_purple: #a393f5, #735ce6;
	--vkui--vkontakte_gradient_raspberry_pink: #ff80d5, #e645b1;
	--vkui--vkontakte_gradient_red: #ff7583, #e62e40;
	--vkui--vkontakte_gradient_retrowave: #30f2b1, #5967ff, #ff26a5;
	--vkui--vkontakte_gradient_sunset: #ffd24d, #f26549, #e62e6b;
	--vkui--vkontakte_gradient_turquoise: #8ae6e6, #12b3b3;
	--vkui--vkontakte_gradient_twilight: #ff4d87, #9f40ff, #3399ff;
	--vkui--vkontakte_gradient_unicorn: #ff99cc, #a179f2, #5ca1e6;
	--vkui--vkontakte_gradient_violet: #d3a6ff, #903fe0;
	--vkui--vkontakte_gradient_yellow: #ffc44d, #f07300;
	--vkui--vkontakte_gradient_yellow_bright: #ffd54f, #e7a902;
	--vkui--vkontakte_gradient_halloween_orange: #cb1e3b, #f05c44, #ffa000;
	--vkui--vkontakte_gradient_halloween_violet: #ffa000, #cd4c4b, #792ec0;
	--vkui--vkontakte_gradient_new_year: #bb64e4, #805bd7, #2866d5;
	--vkui--vkontakte_gradient_frost: #4fa0ff, #016cea;
	--vkui--vkontakte_gradient_valentine: #ff8a65, #f25383, #8f13db;
	--vkui--vkontakte_gradient_warm_valentine: #f3386a, #ff819e;
	--vkui--vkontakte_gradient_sberkot: #9df19d, #31c2a7, #21a19a, #107f8c;
	--vkui--vkontakte_gradient_mable: #d9f4ff, #d9f4ff;
	--vkui--vkontakte_gradient_womens_day: #ff99cc, #e52e6a;
	--vkui--font_headline--font_size--regular: 16px;
	--vkui--font_headline--line_height--regular: 20px;
	--vkui--font_headline--font_family--regular: -apple-system, system-ui,
		'Helvetica Neue', Roboto, sans-serif;
	--vkui--font_headline--font_weight--regular: 500;
	--vkui--font_headline--font_size--compact: 14px;
	--vkui--font_headline--line_height--compact: 18px;
	--vkui--colors_scheme: light;
	--vkui--color_background_accent: #447bba;
	--vkui--color_background_accent--hover: #4177b5;
	--vkui--color_background_accent--active: #3f72b0;
	--vkui--color_background_accent_themed: #447bba;
	--vkui--color_background_accent_themed--hover: #4177b5;
	--vkui--color_background_accent_themed--active: #3f72b0;
	--vkui--color_background_accent_tint: #5a9eff;
	--vkui--color_background_accent_tint--hover: #5698f7;
	--vkui--color_background_accent_tint--active: #5393ef;
	--vkui--color_background_accent_alternative: #447bba;
	--vkui--color_background_accent_alternative--hover: #4177b5;
	--vkui--color_background_accent_alternative--active: #3f72b0;
	--vkui--color_background: #edeef0;
	--vkui--color_background--hover: #e4e5e9;
	--vkui--color_background--active: #dadce2;
	--vkui--color_background_content: #ffffff;
	--vkui--color_background_content--hover: #f5f5f7;
	--vkui--color_background_content--active: #ebecef;
	--vkui--color_background_secondary: #f0f2f5;
	--vkui--color_background_secondary--hover: #e6e9ee;
	--vkui--color_background_secondary--active: #dde0e6;
	--vkui--color_background_secondary_alpha: rgba(235, 242, 250, 0.99);
	--vkui--color_background_secondary_alpha--hover: rgba(223, 234, 246, 0.99);
	--vkui--color_background_secondary_alpha--active: rgba(213, 226, 241, 0.99);
	--vkui--color_background_tertiary: #fafbfc;
	--vkui--color_background_tertiary--hover: #f0f2f4;
	--vkui--color_background_tertiary--active: #e6e8ed;
	--vkui--color_background_tertiary_alpha: rgba(0, 0, 0, 0.03);
	--vkui--color_background_tertiary_alpha--hover: rgba(0, 0, 0, 0.07);
	--vkui--color_background_tertiary_alpha--active: rgba(0, 0, 0, 0.11);
	--vkui--color_background_contrast: #ffffff;
	--vkui--color_background_contrast--hover: #f5f5f7;
	--vkui--color_background_contrast--active: #ebecef;
	--vkui--color_background_contrast_secondary_alpha: rgba(255, 255, 255, 0.2);
	--vkui--color_background_contrast_secondary_alpha--hover: rgba(
		255,
		255,
		255,
		0.24
	);
	--vkui--color_background_contrast_secondary_alpha--active: rgba(
		255,
		255,
		255,
		0.28
	);
	--vkui--color_background_contrast_inverse: #333333;
	--vkui--color_background_contrast_inverse--hover: #313233;
	--vkui--color_background_contrast_inverse--active: #2f3034;
	--vkui--color_background_contrast_themed: #ffffff;
	--vkui--color_background_contrast_themed--hover: #f5f5f7;
	--vkui--color_background_contrast_themed--active: #ebecef;
	--vkui--color_background_modal: #ffffff;
	--vkui--color_background_modal--hover: #f5f5f7;
	--vkui--color_background_modal--active: #ebecef;
	--vkui--color_background_modal_inverse: #2d2d2e;
	--vkui--color_background_modal_inverse--hover: #2b2c2f;
	--vkui--color_background_modal_inverse--active: #292b2f;
	--vkui--color_background_warning: #fff2d6;
	--vkui--color_background_warning--hover: #f5e9d0;
	--vkui--color_background_warning--active: #ebe0ca;
	--vkui--color_background_positive: #4bb34b;
	--vkui--color_background_positive--hover: #48ac4a;
	--vkui--color_background_positive--active: #45a64a;
	--vkui--color_background_negative: #e64646;
	--vkui--color_background_negative--hover: #dd4446;
	--vkui--color_background_negative--active: #d44245;
	--vkui--color_background_negative_tint: #faebeb;
	--vkui--color_background_negative_tint--hover: #f0e2e4;
	--vkui--color_background_negative_tint--active: #e6d9dd;
	--vkui--color_background_positive_tint: #e8f9e8;
	--vkui--color_background_positive_tint--hover: #dff0e1;
	--vkui--color_background_positive_tint--active: #d5e6da;
	--vkui--color_field_background: #f7f8fa;
	--vkui--color_field_background--hover: #edeff2;
	--vkui--color_field_background--active: #e3e5eb;
	--vkui--color_header_background: #ffffff;
	--vkui--color_header_background--hover: #f5f5f7;
	--vkui--color_header_background--active: #ebecef;
	--vkui--color_text_accent: #447bba;
	--vkui--color_text_accent--hover: #4177b5;
	--vkui--color_text_accent--active: #3f72b0;
	--vkui--color_text_accent_themed: #3770b1;
	--vkui--color_text_accent_themed--hover: #356cac;
	--vkui--color_text_accent_themed--active: #3368a8;
	--vkui--color_text_primary: #000000;
	--vkui--color_text_primary--hover: #000102;
	--vkui--color_text_primary--active: #000105;
	--vkui--color_text_primary_invariably: #333333;
	--vkui--color_text_primary_invariably--hover: #313233;
	--vkui--color_text_primary_invariably--active: #2f3034;
	--vkui--color_text_secondary: #818c99;
	--vkui--color_text_secondary--hover: #7c8795;
	--vkui--color_text_secondary--active: #778292;
	--vkui--color_text_subhead: #626d7a;
	--vkui--color_text_subhead--hover: #5e6978;
	--vkui--color_text_subhead--active: #5a6675;
	--vkui--color_text_tertiary: #99a2ad;
	--vkui--color_text_tertiary--hover: #939ca9;
	--vkui--color_text_tertiary--active: #8d96a4;
	--vkui--color_text_contrast: #ffffff;
	--vkui--color_text_contrast--hover: #f5f5f7;
	--vkui--color_text_contrast--active: #ebecef;
	--vkui--color_text_contrast_themed: #ffffff;
	--vkui--color_text_contrast_themed--hover: #f5f5f7;
	--vkui--color_text_contrast_themed--active: #ebecef;
	--vkui--color_text_positive: #4bb34b;
	--vkui--color_text_positive--hover: #48ac4a;
	--vkui--color_text_positive--active: #45a64a;
	--vkui--color_text_negative: #e64646;
	--vkui--color_text_negative--hover: #dd4446;
	--vkui--color_text_negative--active: #d44245;
	--vkui--color_text_link: #2a5885;
	--vkui--color_text_link--hover: #285582;
	--vkui--color_text_link--active: #27527f;
	--vkui--color_text_link_themed: #2a5885;
	--vkui--color_text_link_themed--hover: #285582;
	--vkui--color_text_link_themed--active: #27527f;
	--vkui--color_text_link_tint: #71aaeb;
	--vkui--color_text_link_tint--hover: #6ca4e4;
	--vkui--color_text_link_tint--active: #689edd;
	--vkui--color_text_link_visited: #4986cc;
	--vkui--color_text_link_visited--hover: #4681c6;
	--vkui--color_text_link_visited--active: #437dc1;
	--vkui--color_text_muted: #333333;
	--vkui--color_text_muted--hover: #313233;
	--vkui--color_text_muted--active: #2f3034;
	--vkui--color_link_contrast: #ffffff;
	--vkui--color_link_contrast--hover: #f5f5f7;
	--vkui--color_link_contrast--active: #ebecef;
	--vkui--color_icon_accent: #447bba;
	--vkui--color_icon_accent--hover: #4177b5;
	--vkui--color_icon_accent--active: #3f72b0;
	--vkui--color_icon_accent_themed: #3770b1;
	--vkui--color_icon_accent_themed--hover: #356cac;
	--vkui--color_icon_accent_themed--active: #3368a8;
	--vkui--color_icon_primary: #2c2d2e;
	--vkui--color_icon_primary--hover: #2a2c2f;
	--vkui--color_icon_primary--active: #282b2f;
	--vkui--color_icon_primary_invariably: #333333;
	--vkui--color_icon_primary_invariably--hover: #313233;
	--vkui--color_icon_primary_invariably--active: #2f3034;
	--vkui--color_icon_medium: #6f7985;
	--vkui--color_icon_medium--hover: #6b7582;
	--vkui--color_icon_medium--active: #66717f;
	--vkui--color_icon_medium_alpha: rgba(0, 0, 0, 0.48);
	--vkui--color_icon_medium_alpha--hover: rgba(0, 0, 0, 0.52);
	--vkui--color_icon_medium_alpha--active: rgba(0, 0, 0, 0.56);
	--vkui--color_icon_secondary: #99a2ad;
	--vkui--color_icon_secondary--hover: #939ca9;
	--vkui--color_icon_secondary--active: #8d96a4;
	--vkui--color_icon_secondary_alpha: rgba(0, 0, 0, 0.36);
	--vkui--color_icon_secondary_alpha--hover: rgba(0, 0, 0, 0.4);
	--vkui--color_icon_secondary_alpha--active: rgba(0, 0, 0, 0.44);
	--vkui--color_icon_tertiary: #aeb7c2;
	--vkui--color_icon_tertiary--hover: #a7b0bd;
	--vkui--color_icon_tertiary--active: #a0aab7;
	--vkui--color_icon_tertiary_alpha: rgba(0, 0, 0, 0.24);
	--vkui--color_icon_tertiary_alpha--hover: rgba(0, 0, 0, 0.28);
	--vkui--color_icon_tertiary_alpha--active: rgba(0, 0, 0, 0.32);
	--vkui--color_icon_contrast: #ffffff;
	--vkui--color_icon_contrast--hover: #f5f5f7;
	--vkui--color_icon_contrast--active: #ebecef;
	--vkui--color_icon_contrast_themed: #ffffff;
	--vkui--color_icon_contrast_themed--hover: #f5f5f7;
	--vkui--color_icon_contrast_themed--active: #ebecef;
	--vkui--color_icon_contrast_secondary: #f2f3f5;
	--vkui--color_icon_contrast_secondary--hover: #e8eaee;
	--vkui--color_icon_contrast_secondary--active: #dfe1e6;
	--vkui--color_icon_positive: #4bb34b;
	--vkui--color_icon_positive--hover: #48ac4a;
	--vkui--color_icon_positive--active: #45a64a;
	--vkui--color_icon_negative: #e64646;
	--vkui--color_icon_negative--hover: #dd4446;
	--vkui--color_icon_negative--active: #d44245;
	--vkui--color_stroke_accent: #447bba;
	--vkui--color_stroke_accent--hover: #4177b5;
	--vkui--color_stroke_accent--active: #3f72b0;
	--vkui--color_stroke_accent_themed: #3770b1;
	--vkui--color_stroke_accent_themed--hover: #356cac;
	--vkui--color_stroke_accent_themed--active: #3368a8;
	--vkui--color_separator_primary: #dce1e6;
	--vkui--color_separator_primary--hover: #d3d9df;
	--vkui--color_separator_primary--active: #cad0d8;
	--vkui--color_separator_primary2x: #cbcccd;
	--vkui--color_separator_primary2x--hover: #c3c4c7;
	--vkui--color_separator_primary2x--active: #bbbdc1;
	--vkui--color_separator_primary3x: #bebfc1;
	--vkui--color_separator_primary3x--hover: #b6b8bc;
	--vkui--color_separator_primary3x--active: #afb1b6;
	--vkui--color_separator_primary_alpha: rgba(0, 0, 0, 0.12);
	--vkui--color_separator_primary_alpha--hover: rgba(0, 0, 0, 0.16);
	--vkui--color_separator_primary_alpha--active: rgba(0, 0, 0, 0.2);
	--vkui--color_separator_secondary: #e7e8ec;
	--vkui--color_separator_secondary--hover: #dedfe5;
	--vkui--color_separator_secondary--active: #d5d7de;
	--vkui--color_stroke_positive: #4bb34b;
	--vkui--color_stroke_positive--hover: #48ac4a;
	--vkui--color_stroke_positive--active: #45a64a;
	--vkui--color_stroke_negative: #e64646;
	--vkui--color_stroke_negative--hover: #dd4446;
	--vkui--color_stroke_negative--active: #d44245;
	--vkui--color_stroke_contrast: #ffffff;
	--vkui--color_stroke_contrast--hover: #f5f5f7;
	--vkui--color_stroke_contrast--active: #ebecef;
	--vkui--color_image_border_alpha: rgba(0, 0, 0, 0.08);
	--vkui--color_image_border_alpha--hover: rgba(0, 0, 0, 0.12);
	--vkui--color_image_border_alpha--active: rgba(0, 0, 0, 0.16);
	--vkui--color_field_border_alpha: rgba(0, 0, 0, 0.12);
	--vkui--color_field_border_alpha--hover: rgba(0, 0, 0, 0.24);
	--vkui--color_field_border_alpha--active: rgba(0, 0, 0, 0.36);
	--vkui--color_accent_blue: #5181b8;
	--vkui--color_accent_blue--hover: #4e7cb3;
	--vkui--color_accent_blue--active: #4b78ae;
	--vkui--color_accent_gray: #aeb7c2;
	--vkui--color_accent_gray--hover: #a7b0bd;
	--vkui--color_accent_gray--active: #a0aab7;
	--vkui--color_accent_red: #ff3347;
	--vkui--color_accent_red--hover: #f53247;
	--vkui--color_accent_red--active: #eb3046;
	--vkui--color_accent_green: #4bb34b;
	--vkui--color_accent_green--hover: #48ac4a;
	--vkui--color_accent_green--active: #45a64a;
	--vkui--color_accent_orange: #ffa000;
	--vkui--color_accent_orange--hover: #f59a02;
	--vkui--color_accent_orange--active: #eb9405;
	--vkui--color_accent_orange_peach: #f9b54f;
	--vkui--color_accent_orange_peach--hover: #efae4e;
	--vkui--color_accent_orange_peach--active: #e5a84e;
	--vkui--color_accent_orange_fire: #f05c44;
	--vkui--color_accent_orange_fire--hover: #e65944;
	--vkui--color_accent_orange_fire--active: #dd5643;
	--vkui--color_accent_purple: #735ce6;
	--vkui--color_accent_purple--hover: #6e59df;
	--vkui--color_accent_purple--active: #6a56d8;
	--vkui--color_accent_violet: #792ec0;
	--vkui--color_accent_violet--hover: #742dbb;
	--vkui--color_accent_violet--active: #6f2cb6;
	--vkui--color_accent_raspberry_pink: #e03fab;
	--vkui--color_accent_raspberry_pink--hover: #d73da7;
	--vkui--color_accent_raspberry_pink--active: #ce3ba2;
	--vkui--color_accent_secondary: #3f8ae0;
	--vkui--color_accent_secondary--hover: #3c85d9;
	--vkui--color_accent_secondary--active: #3a80d3;
	--vkui--color_overlay_primary: rgba(0, 0, 0, 0.4);
	--vkui--color_overlay_primary--hover: rgba(0, 0, 0, 0.44);
	--vkui--color_overlay_primary--active: rgba(0, 0, 0, 0.48);
	--vkui--color_overlay_secondary: rgba(44, 45, 46, 0.5);
	--vkui--color_overlay_secondary--hover: rgba(44, 45, 46, 0.54);
	--vkui--color_overlay_secondary--active: rgba(44, 45, 46, 0.58);
	--vkui--color_avatar_overlay: rgba(0, 0, 0, 0.6);
	--vkui--color_avatar_overlay--hover: rgba(0, 0, 0, 0.64);
	--vkui--color_avatar_overlay--active: rgba(0, 0, 0, 0.68);
	--vkui--color_avatar_overlay_inverse_alpha: rgba(255, 255, 255, 0.85);
	--vkui--color_avatar_overlay_inverse_alpha--hover: rgba(255, 255, 255, 0.89);
	--vkui--color_avatar_overlay_inverse_alpha--active: rgba(255, 255, 255, 0.93);
	--vkui--color_action_sheet_text: #3f8ae0;
	--vkui--color_action_sheet_text--hover: #3c85d9;
	--vkui--color_action_sheet_text--active: #3a80d3;
	--vkui--color_image_placeholder: #f2f3f5;
	--vkui--color_image_placeholder--hover: #e8eaee;
	--vkui--color_image_placeholder--active: #dfe1e6;
	--vkui--color_image_placeholder_alpha: rgba(0, 28, 61, 0.08);
	--vkui--color_image_placeholder_alpha--hover: rgba(0, 28, 61, 0.12);
	--vkui--color_image_placeholder_alpha--active: rgba(0, 28, 61, 0.16);
	--vkui--color_skeleton_from: #f0f2f5;
	--vkui--color_skeleton_from--hover: #e6e9ee;
	--vkui--color_skeleton_from--active: #dde0e6;
	--vkui--color_skeleton_to: #e7e8ec;
	--vkui--color_skeleton_to--hover: #dedfe5;
	--vkui--color_skeleton_to--active: #d5d7de;
	--vkui--color_button_text: #346297;
	--vkui--color_button_text--hover: #325f93;
	--vkui--color_button_text--active: #305b90;
	--vkui--color_button_icon: #346297;
	--vkui--color_button_icon--hover: #325f93;
	--vkui--color_button_icon--active: #305b90;
	--vkui--color_button_stroke: #346297;
	--vkui--color_button_stroke--hover: #325f93;
	--vkui--color_button_stroke--active: #305b90;
	--vkui--color_write_bar_icon: #818c99;
	--vkui--color_write_bar_icon--hover: #7c8795;
	--vkui--color_write_bar_icon--active: #778292;
	--vkui--color_write_bar_input_background: #ffffff;
	--vkui--color_write_bar_input_background--hover: #f5f5f7;
	--vkui--color_write_bar_input_background--active: #ebecef;
	--vkui--color_write_bar_input_border: #d3d9de;
	--vkui--color_write_bar_input_border--hover: #cbd1d8;
	--vkui--color_write_bar_input_border--active: #c2c9d1;
	--vkui--color_write_bar_input_border_alpha: rgba(0, 0, 0, 0.08);
	--vkui--color_write_bar_input_border_alpha--hover: rgba(0, 0, 0, 0.12);
	--vkui--color_write_bar_input_border_alpha--active: rgba(0, 0, 0, 0.16);
	--vkui--color_track_background: #d3d9de;
	--vkui--color_track_background--hover: #cbd1d8;
	--vkui--color_track_background--active: #c2c9d1;
	--vkui--color_track_buffer: #447bba;
	--vkui--color_track_buffer--hover: #4177b5;
	--vkui--color_track_buffer--active: #3f72b0;
	--vkui--color_search_field_background: #edeef0;
	--vkui--color_search_field_background--hover: #e4e5e9;
	--vkui--color_search_field_background--active: #dadce2;
	--vkui--color_panel_header_icon: #447bba;
	--vkui--color_panel_header_icon--hover: #4177b5;
	--vkui--color_panel_header_icon--active: #3f72b0;
	--vkui--color_segmented_control: #ffffff;
	--vkui--color_segmented_control--hover: #f5f5f7;
	--vkui--color_segmented_control--active: #ebecef;
	--vkui--color_tabbar_text_inactive: #99a2ad;
	--vkui--color_tabbar_text_inactive--hover: #939ca9;
	--vkui--color_tabbar_text_inactive--active: #8d96a4;
	--vkui--color_transparent: transparent;
	--vkui--color_transparent--hover: rgba(0, 16, 61, 0.04);
	--vkui--color_transparent--active: rgba(0, 16, 61, 0.08);
	--vkui--vkontakte_color_snippet_border_alpha: rgba(0, 0, 0, 0.12);
	--vkui--vkontakte_color_snippet_border_alpha--hover: rgba(0, 0, 0, 0.16);
	--vkui--vkontakte_color_snippet_border_alpha--active: rgba(0, 0, 0, 0.2);
	--vkui--vkontakte_color_snippet_background: #ffffff;
	--vkui--vkontakte_color_snippet_background--hover: #f5f5f7;
	--vkui--vkontakte_color_snippet_background--active: #ebecef;
	--vkui--vkontakte_color_modal_card_border_alpha: rgba(0, 0, 0, 0);
	--vkui--vkontakte_color_modal_card_border_alpha--hover: rgba(0, 0, 0, 0.04);
	--vkui--vkontakte_color_modal_card_border_alpha--active: rgba(0, 0, 0, 0.08);
	--vkui--vkontakte_color_landing_snippet_border_alpha: rgba(0, 0, 0, 0.12);
	--vkui--vkontakte_color_landing_snippet_border_alpha--hover: rgba(
		0,
		0,
		0,
		0.16
	);
	--vkui--vkontakte_color_landing_snippet_border_alpha--active: rgba(
		0,
		0,
		0,
		0.2
	);
	--vkui--vkontakte_color_action_sheet_separator_alpha: rgba(0, 0, 0, 0.12);
	--vkui--vkontakte_color_action_sheet_separator_alpha--hover: rgba(
		0,
		0,
		0,
		0.16
	);
	--vkui--vkontakte_color_action_sheet_separator_alpha--active: rgba(
		0,
		0,
		0,
		0.2
	);
	--vkui--vkontakte_color_input_border: #d3d9de;
	--vkui--vkontakte_color_input_border--hover: #cbd1d8;
	--vkui--vkontakte_color_input_border--active: #c2c9d1;
	--vkui--vkontakte_color_search_bar_background: #e5ebf1;
	--vkui--vkontakte_color_search_bar_background--hover: #dce2ea;
	--vkui--vkontakte_color_search_bar_background--active: #d3d9e3;
	--vkui--vkontakte_color_search_bar_field_tint: #818c99;
	--vkui--vkontakte_color_search_bar_field_tint--hover: #7c8795;
	--vkui--vkontakte_color_search_bar_field_tint--active: #778292;
	--vkui--vkontakte_background_hover_alpha: rgba(174, 183, 194, 0.12);
	--vkui--vkontakte_background_hover_alpha--hover: rgba(174, 183, 194, 0.16);
	--vkui--vkontakte_background_hover_alpha--active: rgba(174, 183, 194, 0.2);
	--vkui--vkontakte_color_accent_alternate: #0077ff;
	--vkui--vkontakte_color_accent_alternate--hover: #0073f7;
	--vkui--vkontakte_color_accent_alternate--active: #006fef;
	--vkui--vkontakte_color_background_suggestions: #ffffff;
	--vkui--vkontakte_color_background_suggestions--hover: #f5f5f7;
	--vkui--vkontakte_color_background_suggestions--active: #ebecef;
	--vkui--vkontakte_color_background_keyboard: #dce1e6;
	--vkui--vkontakte_color_background_keyboard--hover: #d3d9df;
	--vkui--vkontakte_color_background_keyboard--active: #cad0d8;
	--vkui--vkontakte_color_content_placeholder_icon: #b2b2b2;
	--vkui--vkontakte_color_content_placeholder_icon--hover: #abacad;
	--vkui--vkontakte_color_content_placeholder_icon--active: #a4a5a9;
	--vkui--vkontakte_color_content_tint_foreground: #939393;
	--vkui--vkontakte_color_content_tint_foreground--hover: #8d8e90;
	--vkui--vkontakte_color_content_tint_foreground--active: #87898c;
	--vkui--vkontakte_color_text_name: #2a5885;
	--vkui--vkontakte_color_text_name--hover: #285582;
	--vkui--vkontakte_color_text_name--active: #27527f;
	--vkui--vkontakte_color_control_background: #edeef0;
	--vkui--vkontakte_color_control_background--hover: #e4e5e9;
	--vkui--vkontakte_color_control_background--active: #dadce2;
	--vkui--vkontakte_color_control_foreground: #447bba;
	--vkui--vkontakte_color_control_foreground--hover: #4177b5;
	--vkui--vkontakte_color_control_foreground--active: #3f72b0;
	--vkui--vkontakte_color_control_tint_muted: #828282;
	--vkui--vkontakte_color_control_tint_muted--hover: #7d7d7f;
	--vkui--vkontakte_color_control_tint_muted--active: #78797c;
	--vkui--vkontakte_color_header_search_field_background: #edeef0;
	--vkui--vkontakte_color_header_search_field_background--hover: #e4e5e9;
	--vkui--vkontakte_color_header_search_field_background--active: #dadce2;
	--vkui--vkontakte_color_header_search_field_tint: #818c99;
	--vkui--vkontakte_color_header_search_field_tint--hover: #7c8795;
	--vkui--vkontakte_color_header_search_field_tint--active: #778292;
	--vkui--vkontakte_color_header_tab_active_indicator: #397dcc;
	--vkui--vkontakte_color_header_tab_active_indicator--hover: #3779c6;
	--vkui--vkontakte_color_header_tab_active_indicator--active: #3474c1;
	--vkui--vkontakte_color_icon_outline_medium: #818c99;
	--vkui--vkontakte_color_icon_outline_medium--hover: #7c8795;
	--vkui--vkontakte_color_icon_outline_medium--active: #778292;
	--vkui--vkontakte_color_icon_outline_secondary: #99a2ad;
	--vkui--vkontakte_color_icon_outline_secondary--hover: #939ca9;
	--vkui--vkontakte_color_icon_outline_secondary--active: #8d96a4;
	--vkui--vkontakte_color_skeleton_shimmer_from: #ffffff;
	--vkui--vkontakte_color_skeleton_shimmer_from--hover: #f5f5f7;
	--vkui--vkontakte_color_skeleton_shimmer_from--active: #ebecef;
	--vkui--vkontakte_color_alpha_skeleton_shimmer_to: transparent;
	--vkui--vkontakte_color_alpha_skeleton_shimmer_to--hover: rgba(
		0,
		16,
		61,
		0.04
	);
	--vkui--vkontakte_color_alpha_skeleton_shimmer_to--active: rgba(
		0,
		16,
		61,
		0.08
	);
	--vkui--vkontakte_color_loader_background: #edeef0;
	--vkui--vkontakte_color_loader_background--hover: #e4e5e9;
	--vkui--vkontakte_color_loader_background--active: #dadce2;
	--vkui--vkontakte_color_loader_tint: #828282;
	--vkui--vkontakte_color_loader_tint--hover: #7d7d7f;
	--vkui--vkontakte_color_loader_tint--active: #78797c;
	--vkui--vkontakte_color_music_playback_icon: #000000;
	--vkui--vkontakte_color_music_playback_icon--hover: #000102;
	--vkui--vkontakte_color_music_playback_icon--active: #000105;
	--vkui--vkontakte_color_status_background: #edeef0;
	--vkui--vkontakte_color_status_background--hover: #e4e5e9;
	--vkui--vkontakte_color_status_background--active: #dadce2;
	--vkui--vkontakte_color_placeholder_icon_foreground_primary: #99a2ad;
	--vkui--vkontakte_color_placeholder_icon_foreground_primary--hover: #939ca9;
	--vkui--vkontakte_color_placeholder_icon_foreground_primary--active: #8d96a4;
	--vkui--vkontakte_color_placeholder_icon_foreground_secondary: #aeb7c2;
	--vkui--vkontakte_color_placeholder_icon_foreground_secondary--hover: #a7b0bd;
	--vkui--vkontakte_color_placeholder_icon_foreground_secondary--active: #a0aab7;
	--vkui--vkontakte_color_placeholder_icon_tint: #1d3a5c;
	--vkui--vkontakte_color_placeholder_icon_tint--hover: #1c385b;
	--vkui--vkontakte_color_placeholder_icon_tint--active: #1b375a;
	--vkui--vkontakte_color_poll_option_background: #447bba;
	--vkui--vkontakte_color_poll_option_background--hover: #4177b5;
	--vkui--vkontakte_color_poll_option_background--active: #3f72b0;
	--vkui--vkontakte_color_tabbar_active_icon: #447bba;
	--vkui--vkontakte_color_tabbar_active_icon--hover: #4177b5;
	--vkui--vkontakte_color_tabbar_active_icon--active: #3f72b0;
	--vkui--vkontakte_color_tabbar_background: #f7f8fa;
	--vkui--vkontakte_color_tabbar_background--hover: #edeff2;
	--vkui--vkontakte_color_tabbar_background--active: #e3e5eb;
	--vkui--vkontakte_color_tabbar_inactive_icon: #99a2ad;
	--vkui--vkontakte_color_tabbar_inactive_icon--hover: #939ca9;
	--vkui--vkontakte_color_tabbar_inactive_icon--active: #8d96a4;
	--vkui--vkontakte_color_tabbar_tablet_text_secondary: #818c99;
	--vkui--vkontakte_color_tabbar_tablet_text_secondary--hover: #7c8795;
	--vkui--vkontakte_color_tabbar_tablet_text_secondary--active: #778292;
	--vkui--vkontakte_color_toolbar_attach_background_from: #dce1e6;
	--vkui--vkontakte_color_toolbar_attach_background_from--hover: #d3d9df;
	--vkui--vkontakte_color_toolbar_attach_background_from--active: #cad0d8;
	--vkui--vkontakte_color_splash_screen_icon: #dce1e6;
	--vkui--vkontakte_color_splash_screen_icon--hover: #d3d9df;
	--vkui--vkontakte_color_splash_screen_icon--active: #cad0d8;
	--vkui--vkontakte_color_icon_name: #8fadc8;
	--vkui--vkontakte_color_icon_name--hover: #89a7c2;
	--vkui--vkontakte_color_icon_name--active: #84a0bd;
	--vkui--vkontakte_color_panel_tab_active_text: #4e5966;
	--vkui--vkontakte_color_panel_tab_active_text--hover: #4b5664;
	--vkui--vkontakte_color_panel_tab_active_text--active: #485363;
	--vkui--vkontakte_color_background_text_alpha: rgba(81, 129, 184, 0.2);
	--vkui--vkontakte_color_background_text_alpha--hover: rgba(
		81,
		129,
		184,
		0.24
	);
	--vkui--vkontakte_color_background_text_alpha--active: rgba(
		81,
		129,
		184,
		0.28
	);
	--vkui--vkontakte_color_modal_card_header_close: #000000;
	--vkui--vkontakte_color_modal_card_header_close--hover: #000102;
	--vkui--vkontakte_color_modal_card_header_close--active: #000105;
	--vkui--vkontakte_im_bubble_button_outgoing_background_alpha: rgba(
		255,
		255,
		255,
		0.72
	);
	--vkui--vkontakte_im_bubble_button_outgoing_background_alpha--hover: rgba(
		255,
		255,
		255,
		0.76
	);
	--vkui--vkontakte_im_bubble_button_outgoing_background_alpha--active: rgba(
		255,
		255,
		255,
		0.8
	);
	--vkui--vkontakte_im_bubble_button_foreground: #000000;
	--vkui--vkontakte_im_bubble_button_foreground--hover: #000102;
	--vkui--vkontakte_im_bubble_button_foreground--active: #000105;
	--vkui--vkontakte_im_bubble_incoming_highlighted: #d3d9de;
	--vkui--vkontakte_im_bubble_incoming_highlighted--hover: #cbd1d8;
	--vkui--vkontakte_im_bubble_incoming_highlighted--active: #c2c9d1;
	--vkui--vkontakte_im_bubble_gift_background: #f4e7c3;
	--vkui--vkontakte_im_bubble_gift_background--hover: #eadebe;
	--vkui--vkontakte_im_bubble_gift_background--active: #e0d6b8;
	--vkui--vkontakte_im_bubble_gift_background_highlighted: #e3d3ac;
	--vkui--vkontakte_im_bubble_gift_background_highlighted--hover: #dacba8;
	--vkui--vkontakte_im_bubble_gift_background_highlighted--active: #d1c3a3;
	--vkui--vkontakte_im_bubble_outgoing_alternate: #ffffff;
	--vkui--vkontakte_im_bubble_outgoing_alternate--hover: #f5f5f7;
	--vkui--vkontakte_im_bubble_outgoing_alternate--active: #ebecef;
	--vkui--vkontakte_im_attach_tint: #447bba;
	--vkui--vkontakte_im_attach_tint--hover: #4177b5;
	--vkui--vkontakte_im_attach_tint--active: #3f72b0;
	--vkui--vkontakte_im_reply_separator: #2a5885;
	--vkui--vkontakte_im_reply_separator--hover: #285582;
	--vkui--vkontakte_im_reply_separator--active: #27527f;
	--vkui--vkontakte_im_toolbar_voice_msg_background: #99a2ad;
	--vkui--vkontakte_im_toolbar_voice_msg_background--hover: #939ca9;
	--vkui--vkontakte_im_toolbar_voice_msg_background--active: #8d96a4;
	--vkui--vkontakte_color_im_forward_line_alpha: rgba(0, 20, 51, 0.12);
	--vkui--vkontakte_color_im_forward_line_alpha--hover: rgba(0, 20, 51, 0.16);
	--vkui--vkontakte_color_im_forward_line_alpha--active: rgba(0, 20, 51, 0.2);
	--vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha: rgba(
		204,
		204,
		204,
		1
	);
	--vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha--hover: #c4c4c6;
	--vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha--active: #bcbdc1;
	--vkui--vkontakte_color_im_bubble_incoming: #edeef0;
	--vkui--vkontakte_color_im_bubble_incoming--hover: #e4e5e9;
	--vkui--vkontakte_color_im_bubble_incoming--active: #dadce2;
	--vkui--vkontakte_color_im_bubble_incoming_alternate: #ffffff;
	--vkui--vkontakte_color_im_bubble_incoming_alternate--hover: #f5f5f7;
	--vkui--vkontakte_color_im_bubble_incoming_alternate--active: #ebecef;
	--vkui--vkontakte_color_im_bubble_incoming_expiring: #e6e9ff;
	--vkui--vkontakte_color_im_bubble_incoming_expiring--hover: #dde0f7;
	--vkui--vkontakte_color_im_bubble_incoming_expiring--active: #d4d8ef;
	--vkui--vkontakte_color_im_bubble_outgoing: #cce4ff;
	--vkui--vkontakte_color_im_bubble_outgoing--hover: #c4dcf7;
	--vkui--vkontakte_color_im_bubble_outgoing--active: #bcd3ef;
	--vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted: #adb8ff;
	--vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted--hover: #a6b1f7;
	--vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted--active: #9fabef;
	--vkui--vkontakte_color_im_bubble_gift_text: #857250;
	--vkui--vkontakte_color_im_bubble_gift_text--hover: #806e4f;
	--vkui--vkontakte_color_im_bubble_gift_text--active: #7a6a4e;
	--vkui--vkontakte_color_im_bubble_gift_text_secondary: #ab9871;
	--vkui--vkontakte_color_im_bubble_gift_text_secondary--hover: #a4936f;
	--vkui--vkontakte_color_im_bubble_gift_text_secondary--active: #9d8d6d;
	--vkui--vkontakte_color_im_text_name: #2a5885;
	--vkui--vkontakte_color_im_text_name--hover: #285582;
	--vkui--vkontakte_color_im_text_name--active: #27527f;
	--vkui--vkontakte_button_muted_background: #e5ebf1;
	--vkui--vkontakte_button_muted_background--hover: #dce2ea;
	--vkui--vkontakte_button_muted_background--active: #d3d9e3;
	--vkui--vkontakte_button_tertiary_background: rgba(0, 0, 0, 0);
	--vkui--vkontakte_button_tertiary_background--hover: rgba(0, 0, 0, 0.04);
	--vkui--vkontakte_button_tertiary_background--active: rgba(0, 0, 0, 0.08);
	--vkui--vkontakte_button_tertiary_foreground: #346297;
	--vkui--vkontakte_button_tertiary_foreground--hover: #325f93;
	--vkui--vkontakte_button_tertiary_foreground--active: #305b90;
	--vkui--vkontakte_float_button_foreground: #99a2ad;
	--vkui--vkontakte_float_button_foreground--hover: #939ca9;
	--vkui--vkontakte_float_button_foreground--active: #8d96a4;
	--vkui--vkontakte_landing_background: #ffffff;
	--vkui--vkontakte_landing_background--hover: #f5f5f7;
	--vkui--vkontakte_landing_background--active: #ebecef;
	--vkui--vkontakte_im_bubble_incoming_alternate_highlighted: #f7f8fa;
	--vkui--vkontakte_im_bubble_incoming_alternate_highlighted--hover: #edeff2;
	--vkui--vkontakte_im_bubble_incoming_alternate_highlighted--active: #e3e5eb;
	--vkui--vkontakte_im_bubble_incoming_expiring_highlighted: #ccd3ff;
	--vkui--vkontakte_im_bubble_incoming_expiring_highlighted--hover: #c4cbf7;
	--vkui--vkontakte_im_bubble_incoming_expiring_highlighted--active: #bcc3ef;
	--vkui--vkontakte_im_bubble_outgoing_highlighted: #add3ff;
	--vkui--vkontakte_im_bubble_outgoing_highlighted--hover: #a6cbf7;
	--vkui--vkontakte_im_bubble_outgoing_highlighted--active: #9fc3ef;
	--vkui--vkontakte_landing_secondary_button_background: rgba(
		0,
		57,
		115,
		0.102
	);
	--vkui--vkontakte_landing_secondary_button_background--hover: rgba(
		0,
		57,
		115,
		0.14
	);
	--vkui--vkontakte_landing_secondary_button_background--active: rgba(
		0,
		57,
		115,
		0.18
	);
	--vkui--vkontakte_stories_skeleton_loader_background: #cccccc;
	--vkui--vkontakte_stories_skeleton_loader_background--hover: #c4c4c6;
	--vkui--vkontakte_stories_skeleton_loader_background--active: #bcbdc1;
}

:root {
	--vkui_internal--tabbar_height: 48px;
	--vkui_internal--thin_border: 1px;
	--vkui_internal--grid_avatar_image_offset: 2px;
	--vkui_internal--slider_thumb_size: 28px;
	--vkui_internal--side_cell_gap: calc(
		var(--vkui--size_base_padding_horizontal--regular) -
			var(--vkui--spacing_size_s)
	);
	--vkui_internal--popover_safe_zone_padding: 8px;
	--vkui_internal--white: #fff;
	--vkui_internal--safe_area_inset_top: 0px;
	--vkui_internal--safe_area_inset_right: 0px;
	--vkui_internal--safe_area_inset_bottom: 0px;
	--vkui_internal--safe_area_inset_left: 0px;
	--vkui_internal--duration: 0.7s;
	--vkui_internal--z_index_cell_dragging: 1;
	--vkui_internal--z_index_tabs: 2;
	--vkui_internal--z_index_fixed_layout: 3;
	--vkui_internal--z_index_panel_header_context: 4;
	--vkui_internal--z_index_panel_header_fade: 5;
	--vkui_internal--z_index_pull_to_refresh: 9;
	--vkui_internal--z_index_panel_header: 10;
	--vkui_internal--z_index_split_layout_panel_header: 11;
	--vkui_internal--z_index_tappable_state: 0;
	--vkui_internal--z_index_tappable_element: 1;
	--vkui_internal--z_index_banner_background: 0;
	--vkui_internal--z_index_banner_content: 1;
	--vkui_internal--z_index_banner_hover: 2;
	--vkui_internal--z_index_form_field_element: 1;
	--vkui_internal--z_index_form_field_border: 2;
	--vkui_internal--z_index_form_field_status: 3;
	--vkui_internal--z_index_form_field_border_hover: 4;
	--vkui_internal--z_index_form_field_focus: 5;
	--vkui_internal--z_index_form_field_side: 6;
	--vkui_internal--z_index_image_base_overlay: 0;
	--vkui_internal--z_index_image_base_border: 1;
	--vkui_internal--z_index_image_base_badge: 2;
	--vkui_internal--z_index_horizontal_scroll_arrow: 1;
}
:root {
	--vot-font-family: 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui,
		-apple-system;
	--vot-primary-rgb: 139, 180, 245;
	--vot-onprimary-rgb: 32, 33, 36;
	--vot-surface-rgb: 32, 33, 36;
	--vot-onsurface-rgb: 227, 227, 227;
	--vot-subtitles-background: rgba(var(--vot-surface-rgb, 46, 47, 52), 0.8);
	--vot-subtitles-color: rgb(var(--vot-onsurface-rgb, 227, 227, 227));
	--vot-subtitles-passed-color: rgb(var(--vot-primary-rgb, 33, 150, 243));
	--layout-width: 1076px;
	--sidebar-width: 164px;
	--page-body-width: 911px;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--vkui--color_background);
	color: var(--vkui--color_text_primary);
	margin: 0;
	padding: 0;
	direction: ltr;
	font-size: var(--vkui--font_text--font_size--compact);
	font-family: var(
		--palette-vk-font,
		-apple-system,
		BlinkMacSystemFont,
		'Roboto',
		'Helvetica Neue',
		Geneva,
		'Noto Sans Armenian',
		'Noto Sans Bengali',
		'Noto Sans Cherokee',
		'Noto Sans Devanagari',
		'Noto Sans Ethiopic',
		'Noto Sans Georgian',
		'Noto Sans Hebrew',
		'Noto Sans Kannada',
		'Noto Sans Khmer',
		'Noto Sans Lao',
		'Noto Sans Osmanya',
		'Noto Sans Tamil',
		'Noto Sans Telugu',
		'Noto Sans Thai',
		arial,
		Tahoma,
		verdana,
		sans-serif
	);
	line-height: 1.154;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	--vkui--size_border_radius--regular: 8px;
	--vkui--size_border_radius_paper--regular: 12px;
	--vkui--size_check_border_radius--regular: 4px;
	--vkui--size_button_large_height--regular: 44px;
	--vkui--size_button_large_height--compact: 36px;
	--vkui--size_button_medium_height--regular: 36px;
	--vkui--size_button_medium_height--compact: 32px;
	--vkui--size_button_small_height--regular: 30px;
	--vkui--size_button_small_height--compact: 28px;
	--thin-border: 1px;
	--wide-column-width: 550px;
	--narrow-column-width: 230px;
	--boxes-box-shadow: 0 2px 10px var(--black_alpha40);
	--online-badge-background: var(--vkui--color_background_content);
	--page-block-shadow: 0 1px 0 0 var(--vkui--color_separator_primary),
		0 0 0 1px var(--vkui--color_separator_secondary);
	--page-block-offset: 15px;
	--page-block-header-height: 54px;
	--page-block-header-button-margin-top: 14px;
	--page-block-header-font-size: 16px;
	--h2-font-size: 16px;
	--thin-border: 0.5px;
}
